<div id="cover">
    <h1 class="title">Top 5 Must-try South Korean Dishes</h1>
</div>

<div id="dish-list">
    <div class="margin-div">
        <p>From meat grilled on the table before you, to boiling hot stews, to chilies and pickles, Korean food is
            almost impossible not to fall in love with.

            In this Korean food guide, I’m going to share with you 29 of the best tasting dishes you should eat.</p>
        <img src="/img/kim-chi.jpg" alt="kimchi">
        <figcaption class="caption-style">Chili Pickled Cabbage (Kimchi 김치)</figcaption>
        <h2>1. Chili Pickled Cabbage (Kimchi 김치)</h2><br>
        <p>I’m going to start this South Korean food list with not really a dish at all, but something that is
            critically
            vital and quintessential to any Korean meal: KIMCHI.

            While there are many different kinds of kimchi, the most common version is made with napa cabbage that is
            preserved and lightly fermented in bright red chili flakes. Love kimchi and you’re on your way to being a
            Korean
            food connoisseur!</p>
    </div>

    <div class="margin-div">
        <img src="/img/pork-belly.jpg" alt="pork-belly">
        <figcaption class="caption-style">Pork Bulgogi (Doeji Bulgogi 불고기)</figcaption>
        <h2>2. Samgyeopsal (삼겹살)
        </h2>
        <p>Fatty slices of pork belly grilled before your nose is a South Korean foodie favorite. A few slabs of this
            ultra-tasty pork along with garnishes of lettuce leaves, garlic and chili paste, and you’ve got a flavor to
            cherish.

            It’s not the healthiest South Korean food, but if you are a lover of pig, samgyeopsal is something you can’t
            miss eating when you’re in Korea!</p>
    </div>

    <div class="margin-div">
        <img src="/img/barbecued-pork.jpg" alt="bbq-pork">
        <figcaption class="caption-style">Pork Bulgogi (Doeji Bulgogi 불고기)</figcaption>
        <h2>3. Pork Bulgogi (Doeji Bulgogi 불고기)</h2>
        <p>Another famous Korean specialty barbecued meat is known as Bulgogi. While it’s normally made from beef,
            bulgogi
            can also be made with thin strips of pork or chicken.

            Before the meat is grilled, it’s marinated in sweet soy sauce with lots of garlic and sesame oil. The
            version I
            ate above was from the New Valley restaurant in Seoul that specializes in pork bulgogi known as Dwaeji
            Bulgogi.
        </p>
    </div>

    <div class="margin-div">
        <img src="/img/sundae-sausage.jpg" alt="korean blood sausage">
        <figcaption class="caption-style">Korean Blood Sausage (Soondae 순대)</figcaption>
        <h2>4. Korean Blood Sausage (Soondae 순대) </h2>

        <p>Blood pudding lovers… it’s time to rejoice – Korean’s take pride in their soondae (or sundae) and I’d have to
            say
            it’s nothing short of fantastic.

            This version I ate at the Gwanjang Market in Seoul was a masterful combo of sticky rice and pig’s blood
            stuffed
            into intestines and steamed to perfection.

            This Korean street food favorite is not for everyone, but if you’re a fan, you’re going to love it!</p>
    </div>

    <div class="margin-div">
        <img src="/img/hangover-stew.jpg" alt="hangover-stew">
        <figcaption class="caption-style">Hangover Stew (Haejangguk 해장국)</figcaption>
        <h2>5. Hangover Stew (Haejangguk 해장국)
        </h2>
        <p>The famous Korean hangover stew is something I was really excited to sample when I arrived in South Korea. It
            came in a piping hot earthenware dish.

            There are a number of different variations of Haejangguk, but the one I ate was made with pork spine bones.
            The
            broth was rich and spicy, flavored with tender chunks or fatty pork and Korean chili paste.

            Known to cure hangovers, after eating this masterpiece of Korean flavor, I suffered a Korean food hangover
            and
            all I wanted to do was collapse on a sofa and take a nap. One of the tastiest things I ate in Seoul!</p>
    </div>
</div>